body {background-color: gray;}
.contenedor {
  background-color: white;
  padding: 10px;
  width: 1366;
  text-align: center;
  font-size: 500;
}

.anchopjs {
  background-color: white;
  text-align: center;
}
